body{
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    color: rgb(141, 12, 12);
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    margin-top: 10px;
    margin-bottom: 15px;
}

input[type="text"]{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(141, 12, 12);
    background-color: beige;
    border: 2px solid rgb(141, 12, 12);
    border-radius: 10px;
}

input[type="radio"] {
  accent-color: rgb(141, 12, 12);
}

input[type="checkbox"] {
  accent-color: rgb(141, 12, 12);
}

button{
    margin: 30px;
    border-color: rgb(141, 12, 12);
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(235, 201, 201);
    color: rgb(141, 12, 12);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 20px;
}

#banner img {
    width: 100%;
    height: auto;
    margin: -20px;
}


#advimg {
    max-width: 300px;
}

#advertisement {
    background-color: #fff;
    border: 3px dashed #8d0c0c;
    border-radius: 15px;
    padding: 20px;
    margin: 40px auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}

#advimg {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#advimg:hover {
    transform: scale(1.1) rotate(2deg);
}

#shizzabtn {
    max-width: 200px;
    cursor: pointer;
    font-weight: bold;
    margin: 0; 
}

form {
    background-color: #fcf8e3;
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #d6cfad;
}

label {
    margin-right: 15px;
    cursor: pointer;
}

#orderdetails {
    margin-top: 50px;
    padding: 20px;
    border-top: 2px solid #8d0c0c;
    display: inline-block;
    min-width: 300px;
}

#ordersummary {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}


/* BELOW ARE COMPONENTS FOR THE LOADING SCREEN. I USED W3 SCHOOLS TO HELP ME CODE THIS WITH HTML, CSS, and JS. HERE IS THE LINK: https://www.w3schools.com/howto/howto_css_loader.asp */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f8f0cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f1b6b6;
  border-top: 8px solid #8f0a0a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-hidden {
  display: none !important;
}